.content{
width: 60%;
background-color: coral;
margin-left: 15%

}

h1{
    background-color: teal;
    color:  white;
    height: 150px;
    width: 16.6667%;
    font-size: 36px;
    text-align: center;
    margin-left: 15%;
}

h2{
color: teal;
margin-left: 18%;
font-size: 36px;
}


img{
    margin-left: 15%;
    float: left;
}

p{
font-size: 24px;
line-height: 1.6;
margin-left: 600px;
}
